.userProfilePageContainer {
    background: url('../../../public/gradientBackground.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat-y;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 30px;
    color: #fff;
    font-family: Arial, sans-serif;
    overflow: auto;
}

.navbarContainer {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #4A3F8C;
    /* Matches NavBar color */
    height: 4rem;
}

.userProfile {
    flex: 1;
    background: linear-gradient(135deg, #3E29BC, #783698);
    width: 100%;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0;
    height: calc(100% - 4rem);
    align-items: center;
}

.profileCardContainer {
    height: 80%;
    width: 30%;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding-left: 2rem;
}

.pastEventContainer {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2rem;
}

.textContainer {
    color: white;
    text-align: center;
    height: 10%;
}

.eventCardContainer {
    width: 100%;
    height: 90%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Event details styling */
.event-details-column {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}


/* Individual event card styling */
.past-event-info {
    background-color: rgba(255, 255, 255, 0.1);
    /* Semi-transparent white */
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Shadow for depth */
    width: 85%;
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 25px;
}


/* Date and time styling */
.past-event-time {
    font-weight: bold;
    margin-right: 15px;
    color: #ffcb47;
    /* Optional: highlight time */
    flex-shrink: 0;
    width: 10%;
    text-align: right;
}


.past-event-details {
    text-align: center;
    width: 80%;
}


/* Event title styling */
.past-event-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    color: #fff;
}


/* Club and location styling */
.past-event-club-location {
    color: #e1e1e1;
    font-size: 15px;
}


p.past-event-title {
    text-decoration: none;
    cursor: pointer;
    margin: 0;
}

p.past-event-title:hover {
    text-decoration: underline;
}