.events-list-container {
    background-image: url('../../../public/gradientBackground.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

   /* Main container styling (contains the events text detail) */
   .events-list {
    gap: 20px;
    width: 100%; /* Adjust width as needed */
    max-width: 900px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 500px; /* Setting a max height to make it scrollable
                          could re-adjust if needed               */
  }

/* Full Day styling */
.event-item {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Two columns: Date + Time and Event Details */
    gap: 20px;
  }

/* Date column styling */
.event-date-column {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin-top: 15px;
    padding-right: 10px;
}

/* Event details column styling */
.event-details-column {
    padding-left: 10px;
}

/* Individual event info styling */
.event-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

/* Date and time styling */
.event-time {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
}

/* Event title and club+location styling */
.event-title {
    font-weight: bold;
    margin: 0;
}


.event-club-location {
    color: #666;
}