.clubs-list-container {
   background: url('../../../public/gradientBackground.png'); /* Gradient background */
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: repeat-y; /*infinite scroll*/
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   padding-bottom: 30px;
}
.club-detail-container{
   display:flex;
}
.club-contact {
   text-align: left; /* Ensures text is aligned to the left */
   margin: 15px 0; /* Adds some spacing around the section */
   padding: 10px; /* Adds padding inside the container */
   width: 100%; /* Ensures it takes the full width of its container */
   box-sizing: border-box; /* Ensures padding doesn't affect width */
   margin-left: 8px;
}

.club-contact h3 {
   margin: 0 0 10px 0; /* Adds space below the heading */
}
.sticky-header{
   position: sticky;
   width: 100%;
   top: 0;
   z-index: 1000;
}
.navbar-container {
   width: 100%;
}

.search-bar {
   margin: 0 auto;
   width: 80%;
   padding-top: 40px;
   height: 25%;
}

.search-bar input {
   width: 100%;
   height: 85%;
   padding: 10px;
   border-radius: 20px;
   border: none;
   font-size: 16px;
}

.clubs-list-container {
   width: 100%;
   overflow-y: auto;
}

.clubs-list {
   width: 75%;
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding-top: 50px;
   padding-bottom: 50px;
   max-height: 70vh;
}

/* .club-card {
   display: flex;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 10px;
   padding: 15px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   color: #fff;
} */

.club-card {
   display: flex;
   align-items: center;
   justify-content: space-between; /* Ensures proper spacing */
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 10px;
   padding: 15px 20px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   color: #fff;
}

.club-logo {
   height: 40px;
   width: 40px;
   border-radius: 50%;
   margin-right: 15px;
   flex-shrink: 0;
}

.club-details {
   display: flex;
   flex-direction: column;
   justify-content: flex-start; /* Aligns content to the top-left */
   align-items: flex-start; /* Ensures title is close to the left */
   flex-grow: 1; /* Allows this section to expand and take space */
}

.club-name {
   font-weight: bold;
   font-size: 25px;
}

.club-description {
   margin-left: 5%;
   font-size: 16px;
   color: white !important;
   word-wrap: break-word;
   flex: 1;
   text-align: left;
}

p.club-name{
   text-decoration: none;
   cursor: pointer;
   margin: 0;
 }
 
 p.club-name:hover {
   text-decoration: underline;
 }

 .follow-button {
   background-color: #28a745;
   color: white;
   border: none;
   border-radius: 5px;
   padding: 5px 8px; /* Smaller padding for reduced width */
   font-size: 14px;
   cursor: pointer;
   text-align: center;
   flex-shrink: 0;
   width: 80px; /* Fixed smaller width */
}

 .follow-button:hover {
   background-color: #0056b3;
 }
 